/* ====== CARRUSEL GENERAL ====== */
body {
  font-family: "Poppins", sans-serif;
  padding: 0px 0 0px;  /* balance perfecto */
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}
.carrusel {
  font-family: "Poppins", sans-serif;
  padding: 30px 0 40px;   
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  background:transparent;
  /*background: linear-gradient(
    180deg,
    #a3ab78 0%,
    #c5c7c4 40%,
    #dadbd9 70%,
    #edeae8 100%

  );*/
}


.carrusel h2 {
  font-size: 2rem;
  color: #10454f;
  margin-bottom: 40px;
  font-weight: 700;
}

/* ====== CONTENEDOR ====== */
.carrusel-container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

/* ====== TRACK ====== */
.carrusel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

/* ====== TARJETAS ====== */
.card {
  min-width: 280px;
  max-width: 300px;
  background: #ffffff;
  margin: 0 15px;
  border-radius: 16px;
  padding-bottom: 20px;
  text-align: center;
  color: #506266;
  flex-shrink: 0; /* evita deformaciones */
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.card h3 {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #10454f;
  font-weight: 600;
}

.card p {
  font-size: 0.95rem;
  padding: 0 15px;
  line-height: 1.5;
  color: #506266;
}

/* ====== BOTONES ====== */
.carrusel-btn {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  background-color: #10454f;
  border: none;
  color: #edeae8;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 5;
}

.carrusel-btn:hover {
  background-color: #506266;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* Canvas de fondo con partículas */
#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;          /* por detrás de todo */
  pointer-events: none; /* no bloquea clics ni scroll */
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .card {
    min-width: 85%;
    max-width: 85%;
  }

  .carrusel-btn {
    display: none;
  }
}
