/* Fondo general igual a Recursos */
.conversor-main {
  width: 100%;
  min-height: 100vh;
  padding: 140px 20px 80px;
  background: #edeae8;
  color: #10454f;
}

/* Contenedor */
.conversor {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.conversor h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.conversor p {
  color: #506266;
  font-size: 1rem;
  margin-bottom: 30px;
}

/* Caja */
.conversor-box {
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: left;
}

.conversor-box label {
  font-weight: 600;
  color: #10454f;
}

.conversor-box input,
.conversor-box select {
  width: 100%;
  margin: 8px 0 22px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  font-size: 1rem;
}

.unidades-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#btn-convertir {
  width: 100%;
  padding: 14px;
  background-color: #bde038;
  color: #10454f;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

#btn-convertir:hover {
  background-color: #a3ab78;
}

.resultado {
  margin-top: 25px;
  padding: 15px;
  background: #eef2ef;
  border-left: 4px solid #10454f;
  border-radius: 8px;
  font-weight: 600;
  color: #10454f;
}

/* Responsive */
@media (max-width: 768px) {
  .unidades-row {
    grid-template-columns: 1fr;
  }

  .conversor-box {
    padding: 25px;
  }
}
