.footer {
  width: 100%;
  height: auto;
  padding: 40px 0 0px;
         
  color: #e6e6e6;
  margin-top: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #10454f;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 0;
}

.footer-col h3 {
  color: #bde038; /* verde suave */
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.footer-col p {
  line-height: 1.6;
  color: #edeae8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  color: #edeae8;
}

.footer-col ul li a {
  color: #edeae8;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #bde038;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-icons a {
  background-color: #2d3b49;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-size: 0.9rem;
  text-decoration: none;
  transition: background 0.3s ease;
}

.social-icons a:hover {
  background-color: #bde038;
  color: #edeae8;
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #edeae8;
  font-size: 0.9rem;
  color: #edeae8;
  display: block;
  
}


@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
