/* Fuente general */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edeae8;
  color: #506266;
}

/* Hero principal */
.inicio {
  width: 100%;
  margin: 0;
  padding: 120px 0 10px; /* ⬅ Reducimos padding inferior (antes 40px o más) */
  text-align: center;
  background:#edeae8;
  /*
  background: linear-gradient(
    180deg,
    #a3ab78 0%,
    #c5c7c4 40%,
    #dadbd9 70%,
    #edeae8 100%
  );
  */
  color: #10454f;
  box-sizing: border-box;
}


/* Empujar los iconos MÁS cerca del botón */


@media (min-width: 768px) {
  .inicio {
    padding: 150px 0 60px;
  }
}


.inicio-content h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #10454f;
}

.inicio-content p {
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
  font-size: 1rem;
  color: #10454f;
}

.btn-principal {
  display: inline-block;
  background-color: #506266;
  color: #bde038;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-principal:hover {
  background-color: #a3ab78;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}



.iconos img {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease;
}

.iconos img:hover {
  transform: scale(1.1);
}

/* Responsividad */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .inicio-content h1 {
    font-size: 1.8rem;
  }

  .iconos {
    flex-wrap: wrap;
    gap: 25px;
  }
}
/* Ajuste extra para evitar que el hero se vea demasiado grande en celulares */
@media (max-width: 480px) {
  .inicio {
    padding: 130px 0 60px;
  }
}
